[submodule "mortar-app-stub"]
	path = mortar-app-stub
	url = git://github.com/mozilla/mortar-app-stub.git
[submodule "mortar-list-detail"]
	path = mortar-list-detail
	url = git://github.com/mozilla/mortar-list-detail.git
[submodule "mortar-game-stub"]
	path = mortar-game-stub
	url = git@github.com:mozilla/mortar-game-stub.git
[submodule "mortar-tab-view"]
	path = mortar-tab-view
	url = git@github.com:mozilla/mortar-tab-view.git
[submodule "mortar-privileged-app-stub"]
	path = mortar-privileged-app-stub
	url = https://github.com/mozilla/mortar-privileged-app-stub
[submodule "mortar-template-template"]
	path = mortar-template-template
	url = https://github.com/mozilla/mortar-template-template
