<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

<%- head %>

    <!-- Do not add any other CSS here, instead @import it in app.css.
         It will be inlined when building. That way it will
         automatically be minified. -->
    <link rel="stylesheet" href="css/app.css">

    <!-- If this is also installable in Chrome, provide the store link
         (see the "Self-hosted apps" section below) -->
    <!-- <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/itemID"> -->

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
         Modernizr enables HTML5 elements & feature detects for optimal performance.
         Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="js/lib/modernizr-2.5.3.min.js"></script>    
  </head>
  <body>
    <!-- Self-hosted apps:
         install.js (https://github.com/wavysandbox/install) provides
         an install API that works with iOS, Chrome, and Firefox.
         We provide an installation button already hooked up to this.

         Use this for self-hosted apps (not in a marketplace) or for
         test installing your app. -->
    
    <div class="install-error"></div>
    <div class="install-ios-msg">
      To install, press the forward arrow in Safari and touch "Add to
      Home Screen"
    </div>

    <!-- Put this install button somewhere on the page and the user
         will be able to click it to install your app. You don't need 
         this if your app will be installed from a marketplace. -->
    <button class="install-btn">Install</button>    



    <!-- Add your site or application content here -->






    <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->

    <!-- Using require.js, a module system for javascript, include the
         js files. This loads "main.js", which in turn can load other
         files, all handled by require.js:
         http://requirejs.org/docs/api.html#jsfiles -->
    <script type="text/javascript"
            data-main="js/app.js"
            src="js/lib/require.js"></script>

<%- footer %>

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet -->
    <!-- 
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->
  </body>
</html>
