    <!-- Twitter Bootstrap:
         http://twitter.github.com/bootstrap/ -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css"> -->
    
    <!-- x-tags: 
         https://github.com/csuwldcat/x-tag -->
    <!-- <script src="js/lib/x-tag.js"></script> -->

    <!-- For x-tags, you need to include each component's style and js
         here, for example for the accordion: -->
    <!-- <link rel="stylesheet" href="css/lib/x-tag/accordion.css"> -->
    <!-- <script src="js/lib/x-tag/accordion.js></script> -->
